changeevent.dtd

<!ELEMENT page (menu. logLink, logStatus, event)>

<!ELEMENT menu (#PCDATA)>
<!ELEMENT logLink (#PCDATA)>
<!ELEMENT logStatus (#PCDATA)>

<!ELEMENT event (title, datetime, location, description, link)>

<!ENTITY % person "name">

<!ELEMENT title (#PCDATA)>
<!ELEMENT datetime (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT link (#PCDATA)>

<!ATTLIST guest username PCDATA #REQUIRED>