listevents.dtd

<!ELEMENT listevents (event*, user, logLink, logStatus)>

<!ELEMENT event (title, shortDescription?, datetime, location?, nrOfAttendees, nrOfComments, link)>

<!ELEMENT menu (#PCDATA)>
<!ELEMENT logLink (#PCDATA)>
<!ELEMENT logStatus (#PCDATA)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT shortDescription (#PCDATA)>
<!ELEMENT datetime (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT nrOfAttendees (#PCDATA)>
<!ELEMENT nrOfComments (#PCDATA)>
<!ELEMENT link (#PCDATA)>