listevents.dtd

<!ELEMENT listevents (event*)>

<!ELEMENT event (title, shortDescription?, datetime, location?, nrOfAttendees, nrOfComments)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT shortDescription (#PCDATA)>
<!ELEMENT datetime (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT nrOfAttendees (#PCDATA)>
<!ELEMENT nrOfComments (#PCDATA)>